{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb/hooks",
    "plugin:prettier/recommended",
    "airbnb",
    "airbnb-typescript"
  ],
  "env": { "es6": true, "browser": true, "node": true },
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "ecmaFeatures": { "jsx": true },
    "project": ".frontend/tsconfig.eslint.json"
  },
  "settings": {
    "react": { "version": "detect" },
    "jest": { "version": "detect" }
  },
  "rules": {
    "sort-imports": 0,
    "import/order": 0,
    "simple-import-sort/imports": 0,
    "simple-import-sort/exports": 0,
    "no-unused-vars": [2, { "argsIgnorePattern": "^_" }],
    "react/function-component-definition": [2, { "namedComponents": "arrow-function" }],
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off"
  },
  "overrides": [
    {
      "files": ["**/?(*.)+(spec|test).ts?(x)", "jest.config.ts", "setupTests.ts"],
      "extends": ["plugin:jest-dom/recommended", "plugin:testing-library/react", "plugin:jest-formatting/recommended"],
      "rules": {
        "import/no-extraneous-dependencies": [2, { "devDependencies": true }]
      }
    }
  ]
}
